{% extends 'company/base.html' %}
{% block dashboard %}
 {% if user.is_authenticated %}
        <b>{{user.username}}</b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg> <a class="my-2 my-sm-0" type="submit" href="{% url 'logout' %}">Logout</a>
{% else %}  <a class="btn btn-outline-danger mr-sm-2" type="submit" href="{% url 'Contact' %}">Contact</a>
<a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="{% url 'login' %}" class="ml-2">Login</a>
{% endif %}          {% endblock %}

{% block content %}
<br><br><br><br>
<div class="container">
 <h2>FORGET PASSWORD</h2>
 <form method="POST">
   {% csrf_token %}
  <div class="form-group">
    <label>Enter Otp</label>
    <input type="interger" name="OTP" class="form-control" placeholder=" Enter the Otp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">New Password</label>
    <input type="password" name="password" class="form-control">
  </div>
  <a href="{% url 'login' %}"><button type="submit" class="btn btn-primary">Submit</button></a>
</form>
 {% for message in messages %}
<p id="messgae">{{message}}</p>
{% endfor %}
</div>

{% endblock %}